.wrapperMobileMenu {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: white;
  padding: 60px 0 60px 0;
  flex-direction: column;
  justify-content: space-around;
}

.btnMobileMenu {
  position: absolute;
  border: transparent;
  background-color: white;
  cursor: pointer;
  margin-left: auto;
  padding: 10px;
  right: 15px;
  top: 5px;
}

.closeMenu {
  width: 30px;
  height: 30px;
}

.listMobileMenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navBlock {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.itemMobileMenu {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.linkMobileMenu {
  text-decoration: none;
  font-size: 30px;
}

.item {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.list {
  margin: 0 auto;
  padding: 15px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: blue;
    color: tomato;
  }
}
.icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
  &:hover {
    fill: currentColor;
  }
}
