.wrapperMobileMenu {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: white;
  padding: 60px 0 20px 0;
}
// body.wrapperMobileMenu {
//   height: 100vh;
//   overflow: hidden;
// }

.btnMobileMenu {
  position: absolute;
  border: transparent;
  background-color: white;
  cursor: pointer;
  margin-left: auto;
  padding: 10px;
  right: 15px;
  top: 5px;
}

.closeMenu {
  width: 30px;
  height: 30px;
}

.listMobileMenu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.linkMobileMenu {
  text-decoration: none;
}
