.header {
  display: block;
  width: 100%;
}

.headerImg {
  display: block;
  position: relative;
  width: 100%;
  height: 800px;
  object-fit: cover;
  margin-bottom: 60px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.logoPaw {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 10px;
  top: 0;
  left: 0;
  fill: white;
}

.btnOpenMenu {
  position: absolute;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  padding: 10px;
  top: 0;
  right: 0;
}

.openMenu {
  width: 30px;
  height: 30px;
}
